 

body {
    background-color: lavenderblush;

}
.content {

}
  
 .jumbotron {
    display: grid;
    background-color:pink;
    color: rgb(0, 0, 0);
    margin: 40px;
 }


.cardcontainer {
  display: grid;
  text-align: center;
  margin: 20px;
  

}

.card {
 background-color: lavender;
 padding:25px;
 align-items: center;
 
}
.card img{
    height: 80%;
}
.row {
  display: row;
}