 

body {
    background-color: pink;

}

  
 .jumbotron {
    display: grid;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
 }

 .jumbotron img{

  
 }

 .cardcontainer{
    display: grid;
    justify-content: space-between;
 }

.card {
 background-color: aliceblue;
 
}